    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Bienvenue sur votre tableau de bord
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">Derniers évènements</h3>
                    <div class="box-tools pull-right">
                        <div class="label bg-aqua maploc"></div>
                    </div>
                </div>
                <div class="box-body">
                    <div id="weather"></div>
                    <!-- /.box-body -->
                </div>
                <div class="box-footer">
                    <a href="settings.html">Configuration</a>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </aside>
    <!-- /.right-side -->
